@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?68n2fz");
  src: url("../fonts/icomoon.eot?68n2fz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?68n2fz") format("truetype"), url("../fonts/icomoon.woff?68n2fz") format("woff"), url("../fonts/icomoon.svg?68n2fz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 23px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e91b";
}

.icon-bars:before {
  content: "\e900";
}

.icon-transfer:before {
  content: "\e901";
}

.icon-arrows:before {
  content: "\e901";
}

.icon-locked:before {
  content: "\e902";
}

.icon-encryption:before {
  content: "\e902";
}

.icon-login:before {
  content: "\e902";
}

.icon-log-in:before {
  content: "\e902";
}

.icon-headphones:before {
  content: "\e903";
}

.icon-music:before {
  content: "\e903";
}

.icon-song:before {
  content: "\e903";
}

.icon-sound:before {
  content: "\e903";
}

.icon-listen:before {
  content: "\e903";
}

.icon-earth:before {
  content: "\e904";
}

.icon-globe:before {
  content: "\e904";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-phone:before {
  content: "\e942";
}

.icon-display:before {
  content: "\e956";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-drive:before {
  content: "\e963";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-shuffle:before {
  content: "\e905";
}

.icon-briefcase:before {
  content: "\e906";
}

.icon-chat:before {
  content: "\e91c";
}

.icon-mouse:before {
  content: "\e91a";
}

.icon-school:before {
  content: "\e907";
}

.icon-show_chart:before {
  content: "\e908";
}

.icon-help:before {
  content: "\e909";
}

.icon-desktop_mac:before {
  content: "\e90a";
}

.icon-security:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-phone_in_talk:before {
  content: "\e90d";
}

.icon-clipboard:before {
  content: "\e90e";
}

.icon-paste:before {
  content: "\e90e";
}

.icon-clock-o:before {
  content: "\e90f";
}

.icon-bullhorn:before {
  content: "\e910";
}

.icon-handshake-o:before {
  content: "\e911";
}

.icon-phone-square:before {
  content: "\e912";
}

.icon-pencil:before {
  content: "\e913";
}

.icon-envelope:before {
  content: "\e914";
}

.icon-money:before {
  content: "\e915";
}

.icon-laptop:before {
  content: "\e916";
}

.icon-cloud-download:before {
  content: "\e917";
}

.icon-group:before {
  content: "\e918";
}

.icon-users:before {
  content: "\e918";
}

.icon-cogs:before {
  content: "\e919";
}

.icon-gears:before {
  content: "\e919";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #454555;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.h1,
h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 28px;
}

.h2,
h2 {
  font-size: 32px;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0 0 15px;
}

.h3,
.h4,
h3,
h4 {
  font-size: 20px;
}

.h3,
h3 {
  font-size: 26px;
}

.h4,
h4 {
  font-size: 16px;
}

p {
  line-height: 30px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

button {
  outline: 0;
  border: none;
}

.services-heading {
  font-size: 29.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-heading h2 {
  font-size: 43px;
  margin-bottom: -10px;
  margin-top: -13px;
}
.services-heading a {
  color: #454555;
}
.services-heading a h3 {
  font-weight: 600;
}
.services-heading a:hover {
  text-decoration: underline;
}
.services-heading h3 {
  display: none;
}
@media (min-width: 768px) {
  .services-heading h3 {
    display: block;
    font-size: 26px;
  }
}
.services-heading-bottom {
  font-size: 25px;
  text-align: center;
  padding: 0 15px;
  margin: 30px auto -70px;
}
.services-heading-bottom a {
  color: #454555;
}
.services-heading-bottom a:hover {
  text-decoration: underline;
}
.services-heading-bottom h3 {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .services-heading-bottom {
    display: none;
  }
}
@media (min-width: 992px) {
  .services-heading-bottom {
    display: none;
  }
}
@media (min-width: 1260px) {
  .services-heading-bottom {
    display: none;
  }
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
@media (max-width: 767px) {
  .services-content {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .services-content {
    width: 750px;
    left: -14px;
  }
}
@media (min-width: 992px) {
  .services-content {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .services-content {
    width: 1200px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0;
  text-align: center;
  color: #454555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.card-bespoke .card-icon,
.card-bespoke .btn-card {
  background-color: #67809f;
  color: #fff;
}
.card-bespoke .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #67809f;
}
.card-bespoke .arrow-down {
  border-color: #67809f transparent transparent transparent;
}
.card-bespoke .icon-bespoke {
  color: #67809f;
}
.card-bespoke:hover {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  top: -10px;
}
.card-bespoke:hover .card-icon {
  background-color: #fff;
  color: #67809f;
}
.card-bespoke:hover .btn-card {
  color: #67809f;
  background-color: #fff;
}
.card-bespoke:hover .service-nav-i,
.card-bespoke:hover .icon-bespoke {
  color: #fff;
}
.card-IT .card-icon,
.card-IT .btn-card {
  background-color: #4183d7;
  color: #fff;
}
.card-IT .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #4183d7;
}
.card-IT .arrow-down {
  border-color: #4183d7 transparent transparent transparent;
}
.card-IT .icon-IT {
  color: #4183d7;
}
.card-IT:hover {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  top: -10px;
}
.card-IT:hover .card-icon {
  background-color: #fff;
  color: #4183d7;
}
.card-IT:hover .btn-card {
  color: #4183d7;
  background-color: #fff;
}
.card-IT:hover .service-nav-i,
.card-IT:hover .icon-IT {
  color: #fff;
}
.card-digital .card-icon,
.card-digital .btn-card {
  background-color: #2ecc71;
  color: #fff;
}
.card-digital .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #2ecc71;
}
.card-digital .arrow-down {
  border-color: #2ecc71 transparent transparent transparent;
}
.card-digital .icon-digital {
  color: #2ecc71;
}
.card-digital:hover {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  top: -10px;
}
.card-digital:hover .card-icon {
  background-color: #fff;
  color: #2ecc71;
}
.card-digital:hover .btn-card {
  color: #2ecc71;
  background-color: #fff;
}
.card-digital:hover .service-nav-i,
.card-digital:hover .icon-digital {
  color: #fff;
}
.card-telecoms .card-icon,
.card-telecoms .btn-card {
  background-color: #d64541;
  color: #fff;
}
.card-telecoms .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #d64541;
}
.card-telecoms .arrow-down {
  border-color: #d64541 transparent transparent transparent;
}
.card-telecoms .icon-telecoms {
  color: #d64541;
}
.card-telecoms:hover {
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
  top: -10px;
}
.card-telecoms:hover .card-icon {
  background-color: #fff;
  color: #d64541;
}
.card-telecoms:hover .btn-card {
  color: #d64541;
  background-color: #fff;
}
.card-telecoms:hover .service-nav-i,
.card-telecoms:hover .icon-telecoms {
  color: #fff;
}
.card-web .card-icon,
.card-web .btn-card {
  background-color: #926fb1;
  color: #fff;
}
.card-web .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #926fb1;
}
.card-web .arrow-down {
  border-color: #926fb1 transparent transparent transparent;
}
.card-web .icon-web {
  color: #926fb1;
}
.card-web:hover {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  top: -10px;
}
.card-web:hover .card-icon {
  background-color: #fff;
  color: #926fb1;
}
.card-web:hover .btn-card {
  color: #926fb1;
  background-color: #fff;
}
.card-web:hover .service-nav-i,
.card-web:hover .icon-web {
  color: #fff;
}
.card-cyber .card-icon,
.card-cyber .btn-card {
  background-color: #f62459;
  color: #fff;
}
.card-cyber .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #f62459;
}
.card-cyber .arrow-down {
  border-color: #f62459 transparent transparent transparent;
}
.card-cyber .icon-cyber {
  color: #f62459;
}
.card-cyber:hover {
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
  top: -10px;
}
.card-cyber:hover .card-icon {
  background-color: #fff;
  color: #f62459;
}
.card-cyber:hover .btn-card {
  color: #f62459;
  background-color: #fff;
}
.card-cyber:hover .service-nav-i,
.card-cyber:hover .icon-cyber {
  color: #fff;
}
.card-developer .card-icon,
.card-developer .btn-card {
  background-color: #ce4125;
  color: #fff;
}
.card-developer .service-nav-i {
  display: block;
  font-size: 23px;
  padding-bottom: 10px;
  color: #ce4125;
}
.card-developer .arrow-down {
  border-color: #ce4125 transparent transparent transparent;
}
.card-developer .icon-developer {
  color: #ce4125;
}
.card-developer:hover {
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  top: -10px;
}
.card-developer:hover .card-icon {
  background-color: #fff;
  color: #ce4125;
}
.card-developer:hover .btn-card {
  color: #ce4125;
  background-color: #fff;
}
.card-developer:hover .service-nav-i,
.card-developer:hover .icon-developer {
  color: #fff;
}
@media (max-width: 767px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 720px;
    flex-basis: 720px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:nth-child(n+4) {
    flex-basis: 345px;
    max-width: 345px;
  }
  .card:nth-child(n+6) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .card {
    max-width: 293px;
    flex-basis: 293px;
  }
  .card:nth-child(n+4) {
    flex-basis: 455px;
    max-width: 455px;
  }
}
@media (min-width: 1260px) {
  .card {
    max-width: 370px;
    flex-basis: 370px;
  }
  .card:nth-child(n+4) {
    max-width: 270px;
    flex-basis: 270px;
    margin-bottom: 0;
  }
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  font-size: 23px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 0 auto 17px;
}
.card-icon span {
  font-size: 32px;
}

.latest-news .section {
  padding-top: 15px;
}
.latest-news .col {
  position: relative;
  top: 0;
  width: 100%;
  transition: 0.5s ease;
}
.latest-news .col:hover {
  top: -10px;
}
.latest-news .col .item {
  position: relative;
  top: 0;
  font-size: 13px;
  margin-top: 30px;
}
.latest-news .col .item-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.latest-news .col .img-container {
  position: relative;
  top: 0;
}
.latest-news .col .img-container img {
  width: 100%;
  height: auto;
}
.latest-news .col .news-tag {
  position: absolute;
  right: 0;
  top: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  padding: 0 10px;
}
.latest-news .col .news-tag-1 {
  background-color: #67809f;
}
.latest-news .col .news-tag-2 {
  background-color: #926fb1;
}
.latest-news .col .news-tag-3 {
  background-color: #ce4125;
}
.latest-news .col .content {
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: -5px;
}
.latest-news .col .content .heading-1 {
  color: #67809f;
}
.latest-news .col .content .heading-2 {
  color: #926fb1;
}
.latest-news .col .content .heading-3 {
  color: #ce4125;
}
.latest-news .col .content h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.latest-news .col .content p {
  line-height: 22px;
  font-size: 13px;
  margin-bottom: 25px;
}
.latest-news .col .content .user {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 30px;
}
.latest-news .col .content .user .avatar {
  border-radius: 50%;
}
.latest-news .col .content .user .details {
  padding-left: 20px;
  line-height: 22px;
}
.latest-news .col .content .read-time {
  display: inline;
  text-transform: uppercase;
  font-size: 13.5px;
  color: rgba(51, 54, 69, 0.5);
  vertical-align: middle;
}
@media (min-width: 768px) {
  .latest-news .col {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .latest-news .col {
    width: 50%;
  }
}
@media (min-width: 1260px) {
  .latest-news .col {
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .latest-news .col:last-child {
    display: none;
  }
}
@media (min-width: 1260px) {
  .latest-news .col:last-child {
    display: block;
  }
}
.latest-news .row {
  display: block;
}
@media (min-width: 768px) {
  .latest-news .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.news-heading {
  font-size: 29.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -10px;
}
.news-heading h2 {
  font-size: 36px;
  font-weight: 600;
}
.news-heading a {
  color: #454555;
}
.news-heading a h3 {
  display: none;
}
@media (min-width: 768px) {
  .news-heading a h3 {
    display: block;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 28px;
  }
}
.news-heading a:hover {
  text-decoration: underline;
}
.news-heading-bottom {
  font-size: 25px;
  text-align: center;
  padding: 0 15px;
}
.news-heading-bottom a {
  color: #454555;
}
.news-heading-bottom a:hover {
  text-decoration: underline;
}
.news-heading-bottom h3 {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .news-heading-bottom {
    display: none;
  }
}
@media (min-width: 992px) {
  .news-heading-bottom {
    display: none;
  }
}
@media (min-width: 1260px) {
  .news-heading-bottom {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  background: #272936;
  padding: 5px 15px;
  margin-top: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.btn span {
  display: inline-block;
  font-size: 20px;
  margin-right: -4px;
}
.btn:hover {
  background-color: #121318;
}
.btn-lg {
  font-size: 20px;
  line-height: 50px;
  padding: 5px 20px;
}
.btn-support {
  display: none;
}
@media (min-width: 992px) {
  .btn-support {
    display: flex;
    align-items: center;
    background-color: #4183d7;
    height: 56px;
  }
  .btn-support:hover {
    background-color: #2a6ec6;
  }
  .btn-support > span {
    margin-right: 10px;
  }
}
.btn-contact {
  display: none;
}
@media (min-width: 992px) {
  .btn-contact {
    display: flex;
    align-items: center;
    background-color: #999aa2;
    height: 56px;
    margin-left: 20px;
  }
  .btn-contact:hover {
    background-color: #74747a;
  }
  .btn-contact > span {
    margin-right: 10px;
  }
}
.btn-bespoke {
  background-color: #67809f;
}
.btn-bespoke:hover {
  background-color: #566c88;
}
.btn-IT {
  background-color: #4183d7;
}
.btn-IT:hover {
  background-color: #2a6ec6;
}
.btn-digital {
  background-color: #2ecc71;
}
.btn-digital:hover {
  background-color: #25a25a;
}
.btn-telecoms {
  background-color: #d64541;
}
.btn-telecoms:hover {
  background-color: #bc2c28;
}
.btn-web {
  background-color: #926fb1;
}
.btn-web:hover {
  background-color: #7e57a0;
}
.btn-cyber {
  background-color: #f62459;
}
.btn-cyber:hover {
  background-color: #de093f;
}
.btn-developer {
  background-color: #ce4125;
}
.btn-developer:hover {
  background-color: #a3331d;
}
.btn-brand, .btn-google, .btn-trustpilot {
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 8px;
}
.btn-brand:hover, .btn-google:hover, .btn-trustpilot:hover {
  background-color: #121318;
}
.btn-google {
  background-color: #4387f6;
}
.btn-google:hover {
  background-color: #166af4;
}
.btn-trustpilot {
  background-color: #00b67b;
  margin-right: 0;
}
.btn-trustpilot:hover {
  background-color: #009b69;
}
.btn-cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #75788a;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  padding: 0 10px;
  z-index: 99;
}
.btn-cookie:hover {
  background-color: #999aa2;
}
.btn-chat {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background-color: #333645;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.btn-chat span {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 32px;
}
.btn-facebook:hover {
  background-color: #3b5998;
}
.btn-linkedin:hover {
  background-color: #0077b5;
}
.btn-twitter:hover {
  background-color: #00aced;
}
.btn-instagram:hover {
  background-color: #d93175;
}

.nav-container {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .nav-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .nav-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .nav-container {
    width: 1200px;
  }
}

.nav-row {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  align-self: center;
}
.header-logo img {
  max-width: 100%;
  margin-top: 8px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.main-nav .phone-icon {
  width: 100%;
  color: #272936;
  font-size: 32px;
}
@media (min-width: 768px) {
  .main-nav .phone-icon {
    display: none;
  }
}
.main-nav .search-form {
  display: flex;
  margin-left: 20px;
}
.main-nav .search-form--input {
  width: 174px;
  height: 56px;
  background-color: none;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}
.main-nav .search-form--input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}
.main-nav .search-form--btn {
  outline: none;
  background-color: #999aa2;
  border-radius: 0 3px 3px 0;
  padding: 7px 15px 3px;
  height: 56px;
  cursor: pointer;
}
.main-nav .search-form--btn:hover {
  background-color: #74747a;
}
.main-nav .search-form span {
  font-size: 32px;
  color: #fff;
}
@media (max-width: 767px) {
  .main-nav .search-form {
    display: none;
  }
}
@media (min-width: 992px) {
  .main-nav .search-form--input {
    display: none;
  }
  .main-nav .search-form--btn {
    border-radius: 3px;
  }
}
@media (min-width: 1260px) {
  .main-nav .search-form--input {
    display: flex;
    width: 240px;
  }
  .main-nav .search-form--btn {
    border-radius: 0 3px 3px 0;
  }
}

.hamburger-menu {
  background-color: #333645;
  border: none;
  border-radius: 3px;
  height: 56px;
  padding: 5px 15px;
  margin-left: 20px;
  cursor: pointer;
}
.hamburger-menu:hover {
  background-color: #000;
}
.hamburger-menu .menu-box {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 24px;
}
.hamburger-menu .menu-inner {
  display: block;
  top: 50%;
  margin-top: 1px;
  position: absolute;
  width: 34px;
  height: 4px;
  background-color: #fff;
}
.hamburger-menu .menu-inner::before, .hamburger-menu .menu-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background-color: #fff;
}
.hamburger-menu .menu-inner::before {
  top: -10px;
}
.hamburger-menu .menu-inner::after {
  bottom: -10px;
}

.search-form-mobile {
  position: relative;
  font-size: 14px;
  margin-top: 11px;
}
.search-form-mobile--input {
  background-color: #ddd;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  padding-right: 40px;
}
.search-form-mobile--btn {
  background: none;
  border: none;
  position: absolute;
  top: 12px;
  right: 10px;
}
.search-form-mobile span {
  font-size: 28px;
}
@media (min-width: 768px) {
  .search-form-mobile {
    display: none;
  }
}

.main-navigation {
  display: none;
}
@media (min-width: 992px) {
  .main-navigation {
    display: block;
    position: relative;
    background-color: #333645;
  }
}
.main-navigation .main-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.main-navigation .nav-box {
  width: 133px;
  text-align: center;
}
.main-navigation .nav-box .bespoke {
  background-color: #566c88;
}
.main-navigation .nav-box .IT {
  background-color: #2a6ec6;
}
.main-navigation .nav-box .digital {
  background-color: #25a25a;
}
.main-navigation .nav-box .telecoms {
  background-color: #bc2c28;
}
.main-navigation .nav-box .web {
  background-color: #7e57a0;
}
.main-navigation .nav-box .cyber {
  background-color: #de093f;
}
.main-navigation .nav-box .developer {
  background-color: #a3331d;
}
.main-navigation .nav-box:hover .arrow-down {
  display: block;
}
.main-navigation .nav-box:hover .secondary-nav-container {
  display: block;
}
.main-navigation .nav-box .arrow-down {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 66.5px 0 66.5px;
  transform: rotate(0deg);
  bottom: -29px;
  margin-top: -10px;
  z-index: 6;
}
@media (min-width: 1260px) {
  .main-navigation .nav-box .arrow-down {
    border-width: 30px 83.5px 0 83.5px;
  }
}
.main-navigation .nav-box .secondary-nav-container {
  display: none;
  padding: 50px 0;
  text-transform: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 5;
}
.main-navigation .nav-box .secondary-nav-container .inner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 970px;
  padding: 0;
  margin-top: -15px;
}
.main-navigation .nav-box .secondary-nav-container .inner-container .sub-title {
  color: #fff;
  text-align: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.main-navigation .nav-box .secondary-nav-container .inner-container .list-item {
  display: flex;
  align-items: center;
  width: 33%;
  color: #fff;
  font-size: 19px;
  line-height: 21px;
  text-align: left;
  padding: 10px 0;
  margin-top: 15px;
}
.main-navigation .nav-box .secondary-nav-container .inner-container .list-item span {
  display: inline-block;
  margin-right: 10px;
}
.main-navigation .nav-box .secondary-nav-container .inner-container .list-item a {
  color: #fff;
}
.main-navigation .nav-box .secondary-nav-container .inner-container .list-item a:hover {
  text-decoration: underline;
}
@media (min-width: 1260px) {
  .main-navigation .nav-box .secondary-nav-container .inner-container {
    width: 1200px;
  }
}
.main-navigation .nav-box .item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-navigation .nav-box .item a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: 19px 0 18px;
}
.main-navigation .nav-box .item a [class^=icon-] {
  display: block;
  padding-bottom: 10px;
}
.main-navigation .nav-box .item a small {
  display: block;
  font-size: 10px;
  padding-bottom: 1px;
}
@media (min-width: 1260px) {
  .main-navigation .nav-box {
    width: 167px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.h2 {
  font-size: 21px;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 13px;
  font-weight: 400;
}

.banner {
  position: relative;
  width: 100%;
}
.banner .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 550px;
  background-color: #000;
}
.banner .item .img-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 4;
}
@media (min-width: 992px) {
  .banner .item .img-container {
    opacity: 1;
  }
  .banner .item .img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, transparent 25%, #000);
    z-index: 3;
  }
}
.banner .item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .item-content {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  z-index: 4;
}
.banner .item-content h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  margin: 0 0 20px;
}
.banner .item-content p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  .banner .item-content {
    text-align: left;
  }
  .banner .item-content h1 {
    font-size: 64px;
    line-height: 80px;
  }
  .banner .item-content p {
    font-size: 26px;
    line-height: 40px;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  overflow-x: clip;
}
.carousel-container .item-container {
  margin-right: 50px;
}
.carousel-container .item-container .item {
  display: flex;
  position: relative;
  align-items: center;
  width: auto;
  height: 70px;
  max-height: 70px;
  padding: 0 20px;
}
.carousel-container .item-container .item img {
  filter: grayscale(1);
  max-width: 200px;
  max-height: 70px;
}
.carousel-container .item-container .item img:hover {
  filter: grayscale(0);
}
.carousel-container .item-container .item .description {
  display: none;
  position: absolute;
  text-align: center;
  left: -200px;
  right: -200px;
  bottom: 100%;
  z-index: 5;
}
.carousel-container .item-container .item .description .box {
  background-color: #333645;
  color: #fff;
  font-size: 14px;
  max-width: 280px;
  padding: 20px;
  margin: 0 auto 50px;
}
.carousel-container .item-container .item .description .box h3 {
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.carousel-container .item-container .item .description .box p {
  font-size: 13px;
  line-height: 22px;
  margin-top: 17px;
  margin-bottom: 0;
}
.carousel-container .item-container .item .description .box .btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-right: 5px;
  margin-top: 11px;
}
.carousel-container .item-container .item .description .box .btn span {
  font-size: 16px;
  margin-left: 5px;
}
.carousel-container .item-container .item .description .box .text-link {
  color: #fff;
  font-weight: 600;
}
.carousel-container .item-container .item .description .box .text-link:hover {
  text-decoration: underline;
}
.carousel-container .item-container .item .description .box .arrow {
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -36px;
}
.carousel-container .item-container .item .description .box .arrow::after {
  content: "";
  margin: auto;
  display: inline-block;
  border-color: #333645 transparent transparent;
  border-style: solid;
  border-width: 35px 36px 0;
}
.carousel-container .item-container .item:hover .description {
  display: block;
}

.brand-background {
  background-color: #333645;
  color: #fff;
}
.brand-background .section {
  padding-top: 0px;
}

.welcome-container h2 {
  font-size: 36px;
  margin-top: -6px;
  margin-bottom: 40px;
}
.welcome-container .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome-container .col h2 {
  margin-top: 50px;
}
.welcome-container p {
  line-height: 30px;
  margin-bottom: 25px;
}
.welcome-container p a:link, .welcome-container p a:visited {
  color: #fff;
}
.welcome-container p a:hover {
  text-decoration: underline;
}
.welcome-container .star-container {
  color: #ffa500;
  margin-bottom: 25px;
}
.welcome-container .star-container span {
  font-size: 50px;
}
.welcome-container .quote {
  font-weight: 600;
  font-size: 21px;
  font-style: italic;
}
.welcome-container .quote-author {
  font-size: 17.5px;
  color: #a3a8ac;
}
.welcome-container .quote-author a:link, .welcome-container .quote-author a:visited {
  color: #fff;
}
@media (min-width: 992px) {
  .welcome-container {
    display: flex;
  }
  .welcome-container .col {
    width: 50%;
  }
}

.newsletter {
  background-color: #dddddd;
}
.newsletter form {
  padding: 50px 0;
}
.newsletter h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
.newsletter .required {
  color: red;
}
.newsletter .sign-up-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.newsletter .sign-up-input {
  flex: 1 1 450px;
  padding: 0 15px;
}
.newsletter .form-group {
  margin-bottom: 15px;
}
.newsletter .form-group a:link, .newsletter .form-group a:visited {
  color: #000;
  text-decoration: underline;
}
.newsletter .form-group label {
  display: inline-block;
  margin-bottom: 5px;
}
.newsletter .form-group input {
  border: 1px solid #e5e5e5;
}
.newsletter .form-group input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}
.newsletter .form-group .policy-container {
  display: flex;
  position: relative;
  line-height: 32px;
  padding-left: 52px;
  cursor: pointer;
}
.newsletter .form-group .policy-container::before {
  content: "";
  width: 26px;
  height: 26px;
  border: 3px solid #333645;
  border-radius: 3px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.newsletter .form-group .policy-container #checkbox {
  display: none;
}
.newsletter .form-group .policy-container #checkbox:checked + span::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #333645;
  left: 0;
  top: 0;
  border-radius: 3px;
}
.newsletter .form-group .policy-container #checkbox:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 5px;
  border-left: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  transform: rotate(-45deg);
  left: 8px;
  top: 11px;
  color: #fff;
}

footer {
  background-color: #323544;
  padding: 27px 0 0;
}
@media (min-width: 1260px) {
  footer {
    padding-top: 47px;
  }
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-row .company-info {
  width: 400px;
}
@media (max-width: 767px) {
  footer .footer-row .company-info {
    width: 100%;
  }
}
footer .footer-row .company-info img {
  width: 250px;
}
@media (min-width: 768px) {
  footer .footer-row .company-info img {
    width: 320px;
  }
}
footer .footer-row .company-info h4 {
  color: #fff;
  text-transform: uppercase;
  margin: 26px 0;
}
footer .footer-row .company-info .company-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 300px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  footer .footer-row .company-info .company-socials {
    flex-wrap: wrap;
  }
}
footer .footer-row .company-info .company-socials a {
  width: 35%;
  font-size: 26px;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .footer-row .company-info .company-socials a span {
  position: relative;
  top: 4px;
}
@media (min-width: 768px) {
  footer .footer-row .company-info .company-socials {
    flex-wrap: nowrap;
    width: 90%;
  }
}
footer .footer-row .row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  footer .footer-row .row {
    flex-grow: 1;
  }
}
footer .footer-row .col {
  width: 100%;
  margin-bottom: 30px;
}
footer .footer-row .col h4 {
  color: #fff;
  font-size: 15.5px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
footer .footer-row .col li {
  font-size: 13.5px;
  line-height: 22px;
}
footer .footer-row .col a:link, footer .footer-row .col a:visited {
  color: #fff;
}
footer .footer-row .col a:link:hover, footer .footer-row .col a:visited:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  footer .footer-row .col {
    width: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .col {
    width: 25%;
  }
}

.footer-bottom {
  width: 100%;
  background-color: #212330;
  font-size: 13px;
  padding-top: 10px;
}
.footer-bottom .copy-info {
  padding: 5px 0 10px;
  color: #fff;
}
.footer-bottom .copy-info .xs {
  display: none;
}
@media (min-width: 768px) {
  .footer-bottom .copy-info {
    display: flex;
    flex-direction: column;
  }
  .footer-bottom .copy-info br {
    display: none;
  }
  .footer-bottom .copy-info .xs {
    display: inline;
  }
}
.footer-bottom a:link, .footer-bottom a:visited {
  color: #fff;
}
.footer-bottom a:link:hover, .footer-bottom a:visited:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
