* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

button {
  outline: 0;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  background: #333645;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.btn-bespoke {
  background-color: #67809f;
}
.btn-bespoke:hover {
  background-color: #566c88;
}

.btn-IT {
  background-color: #4183d7;
}
.btn-IT:hover {
  background-color: #2a6ec6;
}

.btn-digital {
  background-color: #2ecc71;
}
.btn-digital:hover {
  background-color: #25a25a;
}

.btn-telecoms {
  background-color: #d64541;
}
.btn-telecoms:hover {
  background-color: #bc2c28;
}

.btn-web {
  background-color: #926fb1;
}
.btn-web:hover {
  background-color: #7e57a0;
}

.btn-cyber {
  background-color: #f62459;
}
.btn-cyber:hover {
  background-color: #de093f;
}

.btn-developer {
  background-color: #ce4125;
}
.btn-developer:hover {
  background-color: #ce4125;
}

.nav-container {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .nav-container {
    width: 940px;
    margin: 0 auto;
  }
}
@media (min-width: 1260px) {
  .nav-container {
    width: 1200px;
    margin: 0 auto;
  }
}

.nav-row {
  display: flex;
  justify-content: space-between;
}
.nav-row i {
  font-size: 26px;
}

.header-logo {
  align-self: center;
}
.header-logo img {
  max-width: 100%;
  margin-top: 8px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.main-nav i {
  width: 100%;
  color: #333645;
  font-size: 32px;
}
.main-nav button {
  background-color: #333645;
  border: none;
  border-radius: 3px;
  height: 56px;
  padding: 5px 15px;
  margin-left: 20px;
}

.menu-box {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 24px;
}

.menu-inner {
  display: block;
  top: 50%;
  margin-top: 1px;
  position: absolute;
  width: 34px;
  height: 4px;
  background-color: #fff;
}
.menu-inner::before, .menu-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background-color: #fff;
}
.menu-inner::before {
  top: -10px;
}
.menu-inner::after {
  bottom: -10px;
}

.search-form {
  position: relative;
  font-size: 14px;
  margin-top: 11px;
}
.search-form--input {
  background-color: #ddd;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  padding-right: 40px;
}
.search-form--btn {
  background: none;
  border: none;
  position: absolute;
  top: 14px;
  right: 5px;
}
.search-form i {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner {
  position: relative;
  width: 100%;
  height: 550px;
}
.banner--img {
  background: url(../img/banner/lead-banner.webp) center/cover no-repeat;
  z-index: 0;
}

.banner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-content {
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner-content h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
}
.banner-content p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
}
.banner-content a {
  font-size: 1.25rem;
  line-height: 2.5rem;
  padding: 5px 20px;
  margin-top: 1.938rem;
  margin-bottom: 1.125rem;
  background-color: #926fb1;
}
.banner-content i {
  margin-left: 13px;
}

.services-heading {
  font-size: 1.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-heading h3 {
  display: none;
}
@media (min-width: 768px) {
  .services-heading h3 {
    display: block;
    font-size: 1.625rem;
  }
}
.services-heading h3:hover {
  text-decoration: underline;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .services-content {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .services-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .services-content {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .services-content {
    width: 1200px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0;
  text-align: center;
  color: #454555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.card-bespoke .card-icon {
  background-color: #67809f;
}
.card-bespoke i {
  color: #fff;
}
.card-bespoke .btn-card {
  color: #fff;
  background-color: #67809f;
}
.card-bespoke:hover {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  top: -10px;
}
.card-bespoke:hover .card-icon {
  background-color: #fff;
}
.card-bespoke:hover i {
  color: #67809f;
}
.card-bespoke:hover .btn-card {
  color: #67809f;
  background-color: #fff;
}
.card-IT .card-icon {
  background-color: #4183d7;
}
.card-IT i {
  color: #fff;
}
.card-IT .btn-card {
  color: #fff;
  background-color: #4183d7;
}
.card-IT:hover {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  top: -10px;
}
.card-IT:hover .card-icon {
  background-color: #fff;
}
.card-IT:hover i {
  color: #4183d7;
}
.card-IT:hover .btn-card {
  color: #4183d7;
  background-color: #fff;
}
.card-digital .card-icon {
  background-color: #2ecc71;
}
.card-digital i {
  color: #fff;
}
.card-digital .btn-card {
  color: #fff;
  background-color: #2ecc71;
}
.card-digital:hover {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  top: -10px;
}
.card-digital:hover .card-icon {
  background-color: #fff;
}
.card-digital:hover i {
  color: #2ecc71;
}
.card-digital:hover .btn-card {
  color: #2ecc71;
  background-color: #fff;
}
.card-telecoms .card-icon {
  background-color: #d64541;
}
.card-telecoms i {
  color: #fff;
}
.card-telecoms .btn-card {
  color: #fff;
  background-color: #d64541;
}
.card-telecoms:hover {
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
  top: -10px;
}
.card-telecoms:hover .card-icon {
  background-color: #fff;
}
.card-telecoms:hover i {
  color: #d64541;
}
.card-telecoms:hover .btn-card {
  color: #d64541;
  background-color: #fff;
}
.card-web .card-icon {
  background-color: #926fb1;
}
.card-web i {
  color: #fff;
}
.card-web .btn-card {
  color: #fff;
  background-color: #926fb1;
}
.card-web:hover {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  top: -10px;
}
.card-web:hover .card-icon {
  background-color: #fff;
}
.card-web:hover i {
  color: #926fb1;
}
.card-web:hover .btn-card {
  color: #926fb1;
  background-color: #fff;
}
.card-cyber .card-icon {
  background-color: #f62459;
}
.card-cyber i {
  color: #fff;
}
.card-cyber .btn-card {
  color: #fff;
  background-color: #f62459;
}
.card-cyber:hover {
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
  top: -10px;
}
.card-cyber:hover .card-icon {
  background-color: #fff;
}
.card-cyber:hover i {
  color: #f62459;
}
.card-cyber:hover .btn-card {
  color: #f62459;
  background-color: #fff;
}
.card-developer .card-icon {
  background-color: #ce4125;
}
.card-developer i {
  color: #fff;
}
.card-developer .btn-card {
  color: #fff;
  background-color: #ce4125;
}
.card-developer:hover {
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  top: -10px;
}
.card-developer:hover .card-icon {
  background-color: #fff;
}
.card-developer:hover i {
  color: #ce4125;
}
.card-developer:hover .btn-card {
  color: #ce4125;
  background-color: #fff;
}
@media (max-width: 767px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 720px;
    flex-basis: 720px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:nth-child(n+4) {
    flex-basis: 345px;
    max-width: 345px;
  }
  .card:nth-child(n+6) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .card {
    max-width: 293px;
    flex-basis: 293px;
  }
  .card:nth-child(n+4) {
    flex-basis: 455px;
    max-width: 455px;
  }
}
@media (min-width: 1260px) {
  .card {
    max-width: 370px;
    flex-basis: 370px;
  }
  .card:nth-child(n+4) {
    max-width: 270px;
    flex-basis: 270px;
    margin-bottom: 0;
  }
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  font-size: 23px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 0 auto 17px;
}

.view-services-heading {
  font-size: 25px;
  text-align: center;
  margin: 15px 0;
}
.view-services-heading:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .view-services-heading {
    display: none;
  }
}
@media (min-width: 992px) {
  .view-services-heading {
    display: none;
  }
}
@media (min-width: 1260px) {
  .view-services-heading {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
