// Default button style

.btn {
  display: inline-block;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  background: $light-black;
  padding: 5px 15px;
  margin-top: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $light-black-hvr;
  }

  &-support {
    display: none;

    @include mq('md') {
      display: flex;
      align-items: center;
      background-color: $IT-color;
      height: 56px;

      &:hover {
        background-color: $IT-color-hvr;
      }

      &>i {
        margin-right: 10px;
      }
    }
  }

  &-contact {
    display: none;

    @include mq('md') {
      display: flex;
      align-items: center;
      background-color: $search-color;
      height: 56px;
      margin-left: 20px;

      &:hover {
        background-color: $search-color-hvr;
      }

      &>i {
        margin-right: 10px;
      }
    }
  }

  // Service button colors

  &-bespoke {
    background-color: $bespoke-color;

    &:hover {
      background-color: $bespoke-color-hvr;
    }
  }

  &-IT {
    background-color: $IT-color;

    &:hover {
      background-color: $IT-color-hvr;
    }
  }

  &-digital {
    background-color: $digital-color;

    &:hover {
      background-color: $digital-color-hvr;
    }
  }

  &-telecoms {
    background-color: $telecoms-color;

    &:hover {
      background-color: $telecoms-color-hvr;
    }
  }

  &-web {
    background-color: $web-color;

    &:hover {
      background-color: $web-color-hvr;
    }
  }

  &-cyber {
    background-color: $cyber-color;

    &:hover {
      background-color: $cyber-color-hvr;
    }
  }

  &-developer {
    background-color: $developer-color;

    &:hover {
      background-color: $developer-color-hvr;
    }
  }

  &-brand {
    border-radius: 6px;
    padding: 10px 30px;
    margin-bottom: 17px;

    &:hover {
      background-color: $light-black-hvr;
    }

    @include mq('lg') {
      margin-top: auto;
    }
  }

  &-google {
    background-color: $brand-google;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 8px;

    &:hover {
      background-color: $brand-google-hvr;
    }

    @include mq('lg') {
      margin-top: auto;
    }
  }

  &-trustpilot {
    background-color: $brand-trustpilot;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 20px;

    &:hover {
      background-color: $brand-trustpilot-hvr;
    }

    @include mq('lg') {
      margin-top: auto;
    }
  }
}