// Default button style

.btn {
  @include btnStyle($light-black);

  &-block {
    display: block;
    width: 100%;
  }

  &-default {
    background-color: #999aa2;

    &:hover {
      background-color: #84858f !important;
    }
  }

  & span {
    display: inline-block;
    font-size: 20px;
    margin-right: -4px;
  }

  &:hover {
    background-color: $light-black-hvr;
  }

  &-lg {
    font-size: 20px;
    line-height: 50px;
    padding: 5px 20px;
  }

  &-support {
    display: none;

    @include mq('md') {
      display: flex;
      align-items: center;
      background-color: $IT-color;
      height: 56px;

      &:hover {
        background-color: $IT-color-hvr;
      }

      &>span {
        margin-right: 10px;
      }
    }
  }

  &-contact {
    display: none;

    @include mq('md') {
      display: flex;
      align-items: center;
      background-color: $search-color;
      height: 56px;
      margin-left: 20px;

      &:hover {
        background-color: $search-color-hvr;
      }

      &>span {
        margin-right: 10px;
      }
    }
  }

  // Service button colors
  @include services($service-colors);

  // Brand color

  &-brand,
  &-google,
  &-trustpilot {
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 8px;

    &:hover {
      background-color: $light-black-hvr;
    }
  }

  &-google {
    background-color: $brand-google;

    &:hover {
      background-color: $brand-google-hvr;
    }
  }

  &-trustpilot {
    background-color: $brand-trustpilot;
    margin-right: -31px;

    &:hover {
      background-color: $brand-trustpilot-hvr;
    }
  }

  &-cookie {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #75788a;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
    padding: 0 10px;
    z-index: 99;

    &:hover {
      background-color: #999aa2;
    }
  }

  &-chat {
    position: fixed;
    right: 30px;
    bottom: 20px;
    background-color: $brand-primary;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);
    z-index: 99;

    & span {
      position: absolute;
      top: 13px;
      left: 13px;
      font-size: 32px;
    }
  }
}