// ==========================================================================
// Global Config $
// ==========================================================================

// Font Stacks
$font-family-primary: 'Poppins', 'Helvetica', 'Arial', sans-serif;

// Font Weights

// Descriptive Base Colors

$white: #fff;
$light-grey: #ddd;
$grey: #666;
$dark-grey: #454555;
$dark: #333645;
$darker: #22242e;
$accent: #ccc;

// Color Usage

// Color Palette Modifiers

// UI Colors

// Text

// Border radius
$br--default : .4em;
$br--round : 50%;

// Transitions
$trns-duration : .3s;

// Path to Assets
$path--rel : "../img";