// Contact page

// Page nav

.library-container {
  display: none;
  border-top: 1px solid #333645;
  box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
  padding: 14px 0 13px;

  & .library {
    display: flex;
    font-size: 14px;

    & a {
      color: $brand-primary;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }

    &>:nth-last-child(1)::before {
      content: "/";
      padding: 0 5px;
    }
  }

  @include mq('sm') {
    display: block;
  }
}

// Header

.page-header {
  background-color: $brand-primary;
  color: $white;
  padding: 24px 0;
  margin-bottom: 50px;
  margin-top: -50px;

  & h1 {
    margin-bottom: 0;

    @include mq('md') {
      margin-bottom: 28px;
      margin-top: -25px;
    }
  }

  @include mq('md') {
    background-color: transparent;
    color: $brand-primary;
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Offices

.office-addresses {
  margin-bottom: 40px;

  & .office-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .office-container {
      padding: 0 15px;

      & .office-card {
        display: flex;
        flex-direction: column;
        border: 1px solid $accent;
        border-radius: 20px 20px 0 0;
        margin-top: 30px;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }

        & .office-content {
          padding: 30px;

          & .h2 a {
            color: $brand-primary;

            &:hover {
              text-decoration: underline;
            }
          }

          & .address {
            color: $grey;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 15px;
          }

          & .tel {
            color: $web-color;
            font-size: 26px;
            font-weight: 700;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      @include mq('md') {
        width: 50%;
      }
    }
  }
}

.contact-outer {
  display: flex;
  flex-direction: column;

  .contact-info-container {
    padding: 0 15px;

    .contact-info {

      & a {
        color: $web-color;
        font-size: 26px;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .accordion {

      & a {
        color: $brand-primary;
        font-weight: 600;

        & span {
          font-weight: 600;
          vertical-align: sub;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .accordion-info {
        display: none;

        & p {
          color: $grey;

          & strong {
            color: $brand-primary;
          }
        }
      }

      .accordion-active {
        display: block;
      }
    }

    @include mq('lg') {
      width: 35%;
    }
  }

  // Contact form

  .contact-container {
    width: 100%;

    & #contact-form {
      background-color: $contact-form;
      border-radius: 10px;
      padding: 30px;
      margin-right: 15px;

      & label {
        font-weight: 600;
      }

      & .sign-up-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
      }

      & .sign-up-input {
        flex: 1 1 450px;
        padding: 0 15px;

        @include mq('lg') {
          flex: 1 1 250px;
        }
      }

      & .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      & #message {
        padding: 5px 15px;

        &::placeholder {
          font-family: $font-primary;
        }
      }

      & .policy-container {
        font-weight: 400;
      }

      & .captcha-container {
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 30px;
      }

      & .required {
        color: #d24d57;
        font-size: 18px
      }

      & .error-message {
        color: #d24d57;
        margin-top: 10px;
      }

      & #success-message {
        background-color: $digital-color;
        color: $white;
        margin-top: 10px;
      }
    }

    @include mq('lg') {
      width: 65%;
    }
  }

  @include mq('lg') {
    flex-direction: row-reverse;
  }
}