@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?68n2fz');
  src: url('../fonts/icomoon.eot?68n2fz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?68n2fz') format('truetype'),
    url('../fonts/icomoon.woff?68n2fz') format('woff'),
    url('../fonts/icomoon.svg?68n2fz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 23px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e91b";
}

.icon-bars:before {
  content: "\e900";
}

.icon-transfer:before {
  content: "\e901";
}

.icon-arrows:before {
  content: "\e901";
}

.icon-locked:before {
  content: "\e902";
}

.icon-encryption:before {
  content: "\e902";
}

.icon-login:before {
  content: "\e902";
}

.icon-log-in:before {
  content: "\e902";
}

.icon-headphones:before {
  content: "\e903";
}

.icon-music:before {
  content: "\e903";
}

.icon-song:before {
  content: "\e903";
}

.icon-sound:before {
  content: "\e903";
}

.icon-listen:before {
  content: "\e903";
}

.icon-earth:before {
  content: "\e904";
}

.icon-globe:before {
  content: "\e904";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-phone:before {
  content: "\e942";
}

.icon-display:before {
  content: "\e956";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-drive:before {
  content: "\e963";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-shuffle:before {
  content: "\e905";
}

.icon-briefcase:before {
  content: "\e906";
}

.icon-chat:before {
  content: "\e91c";
}

.icon-mouse:before {
  content: "\e91a";
}

.icon-school:before {
  content: "\e907";
}

.icon-show_chart:before {
  content: "\e908";
}

.icon-help:before {
  content: "\e909";
}

.icon-desktop_mac:before {
  content: "\e90a";
}

.icon-security:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-phone_in_talk:before {
  content: "\e90d";
}

.icon-clipboard:before {
  content: "\e90e";
}

.icon-paste:before {
  content: "\e90e";
}

.icon-clock-o:before {
  content: "\e90f";
}

.icon-bullhorn:before {
  content: "\e910";
}

.icon-handshake-o:before {
  content: "\e911";
}

.icon-phone-square:before {
  content: "\e912";
}

.icon-pencil:before {
  content: "\e913";
}

.icon-envelope:before {
  content: "\e914";
}

.icon-money:before {
  content: "\e915";
}

.icon-laptop:before {
  content: "\e916";
}

.icon-cloud-download:before {
  content: "\e917";
}

.icon-group:before {
  content: "\e918";
}

.icon-users:before {
  content: "\e918";
}

.icon-cogs:before {
  content: "\e919";
}

.icon-gears:before {
  content: "\e919";
}