// ==========================================================================
// Header
// ==========================================================================

.nav-container {
  padding: 15px 0;

  @include mq('sm') {
    width: 750px;
  }

  @include mq('md') {
    width: 970px;
  }

  @include mq('lg') {
    width: 1200px;
  }
}

.nav-row {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 26px;
  }
}

.header-logo {
  align-self: center;

  img {
    max-width: 100%;
    margin-top: 8px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 10px;

  // Phone icon on mobile

  & .phone-icon {
    width: 100%;
    color: $light-black;
    font-size: 32px;

    // Hide on medium screen +

    @include mq('sm') {
      display: none;
    }
  }

  // Show search on medium screens

  & .search-form {
    display: flex;
    margin-left: 20px;

    &--input {
      width: 174px;
      height: 56px;
      background-color: none;
      outline: 1px solid hsla(0, 0%, 100%, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px 15px;
    }

    &--btn {
      outline: none;
      background-color: $search-color;
      border-radius: 0 3px 3px 0;
      padding: 7px 20px 3px;
      height: 56px;
      cursor: pointer;

      &:hover {
        background-color: $search-color-hvr;
      }
    }

    i {
      font-size: 24px;
      color: $white;
    }

    // Hide on mobile

    @include mq('xs') {
      display: none;
    }

    @include mq('md') {
      &--input {
        display: none;
      }

      &--btn {
        border-radius: 3px;
      }
    }

    @include mq('lg') {
      &--input {
        display: flex;
        width: 240px;
      }

      &--btn {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.hamburger-menu {
  background-color: $brand-primary;
  border: none;
  border-radius: 3px;
  height: 56px;
  padding: 5px 15px;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    background-color: $black;
  }

  // Menu background

  .menu-box {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 24px;
  }

  // Menu lines

  .menu-inner {
    display: block;
    top: 50%;
    margin-top: 1px;
    position: absolute;
    width: 34px;
    height: 4px;
    background-color: $white;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 4px;
      background-color: $white;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

// Mobile search

.search-form-mobile {
  position: relative;
  font-size: 14px;
  margin-top: 11px;

  &--input {
    background-color: $light-grey;
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    padding-right: 40px;
  }

  &--btn {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  i {
    font-size: 20px;
  }

  // Hide on medium screens +

  @include mq('sm') {
    display: none;
  }
}