// ==========================================================================
// Header
// ==========================================================================

.nav-container {
  padding: 20px 0;

  @include mq('md') {
    width: 940px;
    margin: 0 auto;
  }

  @include mq('lg') {
    width: 1260px;
    margin: 0 auto;
  }
}

.nav-inner-container {
  margin: 0 auto;
  padding: 0 15px;
}

.nav-row {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 26px;
  }
}

.header-logo {
  img {
    max-width: 100%;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.main-nav--item {
  align-self: center;
}

.icon-phone_in_talk {
  background: url(../img/phone_in_talk.png) no-repeat;
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin-left: 15px;
}

.search-form {
  position: relative;
  font-size: 14px;
  margin-top: 11px;

  &--input {
    background-color: $light-grey;
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    padding: 15px;
    padding-right: 40px;
  }

  &--btn {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
  }

  i {
    font-size: 20px;
  }
}