// Main

.lock {
  overflow-y: hidden;
}

// Containers

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq('sm') {
    width: 750px;
  }

  @include mq('md') {
    width: 970px;
  }

  @include mq('lg') {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.top {
  padding-bottom: 0;
}

.bottom {
  padding-top: 0;
}

// Headings

.h2 {
  font-size: 21px;
  padding-bottom: 10px;
  margin: 0 0 11px
}

.p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 13px;
  font-weight: 400;
}

// Hero banner

.banner {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 550px;
    background-color: $black;

    & .img-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      z-index: 4;

      @include mq('md') {
        opacity: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(270deg, transparent 25%, #000);
          z-index: 3;
        }
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      position: relative;
      color: $white;
      text-align: center;
      padding: 60px 0;
      z-index: 4;

      & h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        margin: 0 0 20px;
      }

      & p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        margin: 0 0 20px;
      }

      @include mq('md') {
        text-align: left;

        & h1 {
          font-size: 64px;
          line-height: 80px;
        }

        & p {
          font-size: 26px;
          line-height: 40px;
        }
      }
    }
  }
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  color: $light-grey;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: $white;
}

.slick-dots li.slick-active button:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid $white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

// Carousel section

.slick-list {
  overflow: inherit;
}

.clients-container {
  display: flex;
  z-index: 5;

  .item-container {
    width: auto;
    margin-right: 50px;

    & .item {
      display: flex;
      position: relative;
      align-items: center;
      width: auto;
      height: 70px;
      max-height: 70px;
      padding: 0 20px;

      & img {
        filter: grayscale(1);
        max-width: 200px;
        max-height: 70px;
      }

      & img:hover {
        filter: grayscale(0);
      }

      // Client popup

      .description {
        display: none;
        position: absolute;
        text-align: center;
        left: -200px;
        right: -200px;
        bottom: 100%;
        z-index: 5;

        & .box {
          background-color: $brand-primary;
          color: $white;
          font-size: 14px;
          max-width: 280px;
          padding: 20px;
          margin: 0 auto 50px;

          & h3 {
            font-size: 18px;
            color: $white;
            margin: 0;
          }

          & p {
            font-size: 13px;
            line-height: 22px;
            margin-top: 17px;
            margin-bottom: 0;
          }

          & .btn {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding-right: 5px;
            margin-top: 11px;

            & span {
              font-size: 16px;
              margin-left: 5px;
            }
          }

          & .text-link {
            color: $white;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }

          & .arrow {
            position: absolute;
            left: 50%;
            bottom: 15px;
            margin-left: -36px;

            &::after {
              content: "";
              margin-top: 5px;
              display: inline-block;
              border-color: #333645 transparent transparent;
              border-style: solid;
              border-width: 35px 36px 0;
            }
          }
        }
      }

      &:hover {
        & .description {
          display: block;
        }
      }
    }
  }
}

// Welcome & testimony section

.brand-background {
  background-color: $brand-primary;
  color: $white;

  & .section {
    padding-top: 0px;
  }
}

.welcome-container {
  & h2 {
    font-size: 36px;
    margin-top: -6px;
    margin-bottom: 40px;
  }

  & .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
      margin-top: 50px;
    }
  }

  & p {
    line-height: 30px;
    margin-bottom: 25px;

    & a:link,
    & a:visited {
      color: $white;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .star-container {
    color: #ffa500;
    margin-bottom: 25px;

    & span {
      font-size: 50px;
    }
  }

  .quote {
    font-weight: 600;
    font-size: 21px;
    font-style: italic;

    &-author {
      font-size: 17.5px;
      color: $quote-author;
    }

    &-author a:link,
    &-author a:visited {
      color: $white;
    }
  }

  @include mq('md') {
    display: flex;

    & .col {
      width: 50%;
    }
  }
}

// Newsletter

.newsletter {
  background-color: #dddddd;

  & form {
    padding: 50px 0;
  }

  & h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  & .required {
    color: red;
  }
}

.sign-up-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.sign-up-input {
  flex: 1 1 450px;
  padding: 0 15px;
}

.form-group {
  margin-bottom: 15px;

  & a:link,
  & a:visited {
    color: $black;
    text-decoration: underline;
  }

  & label {
    display: inline-block;
    margin-bottom: 5px;
  }

  & input {
    border: 1px solid #e5e5e5;

    &:focus {
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6)
    }
  }

  & .policy-container {
    display: flex;
    position: relative;
    font-weight: 400;
    line-height: 32px;
    padding-left: 52px;
    cursor: pointer;

    // Checkbox border

    &::before {
      content: "";
      width: 26px;
      height: 26px;
      border: 3px solid $brand-primary;
      border-radius: 3px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    // Hide original input checkbox

    & #checkbox,
    & #checkbox-contact {
      display: none;
    }

    // Checkbox background

    & #checkbox:checked,
    & #checkbox-contact:checked {
      +span::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: $brand-primary;
        left: 0;
        top: 0;
        border-radius: 3px;
      }

      // Checkbox tick mark

      +span::after {
        content: "";
        display: block;
        position: absolute;
        width: 13px;
        height: 5px;
        border-left: 2.5px solid $white;
        border-bottom: 2.5px solid $white;
        transform: rotate(-45deg);
        left: 8px;
        top: 11px;
        color: $white;
      }
    }
  }
}

// Cookies

.cookie-consent {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background-color: rgba(0, 0, 0, .7);
  overflow-x: hidden;
  overflow-y: auto;

  & .cookie-box {
    position: relative;
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 90%;
    margin: auto;

    & .cookie-title {
      font-size: 26px;
      border-bottom: 1px solid #e5e5e5;
      padding: 15px 20px;

      & h3 {
        font-size: 28px;
        line-height: 1.42857143;
        margin: 0;
      }
    }

    & .cookie-content {
      color: $grey;
      font-size: 18px;
      border-bottom: 1px solid #e5e5e5;
      padding: 20px;
    }

    & .cookie-btns {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px 0;

      & .col {
        width: 100%;
      }

      & .col:first-child {
        margin-bottom: 30px;

        @include mq('sm') {
          margin-bottom: 0;
        }
      }

      @include mq('sm') {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    & .link {
      color: $brand-primary;

      &:hover {
        text-decoration: underline;
      }
    }

    @include mq('sm') {
      width: 600px;
    }
  }
}

.cookie-show {
  display: flex;
}