// ==========================================================================
// Main
// ==========================================================================

// Containers

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq('sm') {
    width: 750px;
  }

  @include mq('md') {
    width: 970px;
  }

  @include mq('lg') {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

// Headings

.h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px
}

.p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

// Hero banner

.banner {
  position: relative;
  width: 100%;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 550px;
    background-color: $black;

    & .img-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      z-index: 4;

      @include mq('md') {
        opacity: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(270deg, transparent 25%, #000);
          z-index: 3;
        }
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      position: relative;
      color: $white;
      text-align: center;
      padding: 3.75rem 0;
      z-index: 4;

      & h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600;
        margin: 0 0 1.25rem;
      }

      & p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        margin: 0 0 1.25rem;
      }

      & i {
        margin-right: -4px;
        margin-left: 13px;
      }

      @include mq('md') {
        text-align: left;

        & h1 {
          font-size: 4rem;
          line-height: 5rem;
        }

        & p {
          font-size: 1.625rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}

// Carousel section

.carousel-container {
  display: flex;
  justify-content: center;

  .item-container {
    margin-right: 50px;

    & .item {
      display: flex;
      align-items: center;
      width: auto;
      height: 70px;
      max-height: 70px;
      padding: 0 20px;

      & img {
        filter: grayscale(1);
        max-width: 200px;
      }

      & img:hover {
        filter: grayscale(0);
      }
    }
  }
}

// Welcome & testimony section

.brand-background {
  background-color: $brand-primary;
  color: $white;
}

.welcome-container {
  & h2 {
    font-size: 2.25rem;
    margin-top: -6px;
    margin-bottom: 40px;
  }

  & p {
    line-height: 1.875rem;
    margin-bottom: 25px;

    & a:link,
    & a:visited {
      color: $white;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .star-container {
    color: #ffa500;
    font-size: 38px;
    margin-bottom: 25px;
  }

  .quote {
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;

    &-author {
      font-size: 1.1rem;
      color: $quote-author;
    }

    &-author a:link,
    &-author a:visited {
      color: $white;
    }
  }

  @include mq('md') {
    display: flex;

    & .col {
      width: 50%;
    }
  }
}

// Newsletter

.newsletter {
  background-color: #dddddd;

  & form {
    padding: 50px 0;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
  }

  & .required {
    color: red;
  }

  & .sign-up-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  & .sign-up-input {
    flex: 1 1 450px;
    padding: 0 15px;
  }

  & .form-group {
    margin-bottom: 15px;

    & a:link,
    & a:visited {
      color: $black;
      text-decoration: underline;
    }

    & label {
      display: inline-block;
      margin-bottom: 5px;
    }

    & input {
      border: 1px solid #e5e5e5;

      &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6)
      }
    }

    & .policy-container {
      display: flex;
      line-height: 32px;
      cursor: pointer;

      & .checkbox-container {
        width: 52px;
      }

      & .checkbox {
        float: left;
        width: 32px;
        height: 32px;
        border: 3px solid $brand-primary;
        border-radius: 3px;
        margin-right: 20px;
      }
    }
  }
}