// Latest news

.latest-news {
  & .section {
    padding-top: 15px;
  }

  & h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 30px 0;
  }

  .col {
    position: relative;
    top: 0;
    width: 100%;
    transition: .5s ease;

    &:hover {
      top: -10px;
    }

    & .item {
      font-size: 0.8125rem;
      margin-top: 30px;
    }

    & .img-container {
      position: relative;
      top: 0;

      & .news-tag-1,
      & .news-tag-2,
      & .news-tag-3 {
        position: absolute;
        right: 0;
        top: 10px;
        background-color: $bespoke-color;
        color: $white;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.428rem;
        padding: 0 10px;
      }

      & .news-tag-2 {
        background-color: $web-color;
      }

      & .news-tag-3 {
        background-color: $developer-color;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }

    & .content {
      border: 1px solid $accent;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
      padding: 30px;
      margin-top: -5px;

      & .heading-1 {
        color: $bespoke-color;
      }

      & .heading-2 {
        color: $web-color;
      }

      & .heading-3 {
        color: $developer-color;
      }

      & h3 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 15px;
      }

      & p {
        line-height: 1.375rem;
        font-size: .8125rem;
        margin-bottom: 25px;
      }

      & .user {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid $accent;
        padding-top: 30px;
        margin-top: 30px;

        & .avatar {
          border-radius: 50%;
        }

        & .details {
          padding-left: 20px;
          line-height: 1.375rem;
        }
      }

      & .read-time {
        display: inline;
        text-transform: uppercase;
        font-size: .85rem;
        color: rgba(51, 54, 69, .5);
        vertical-align: middle;
      }
    }

    @include mq('sm') {
      & {
        width: 50%;
      }
    }

    @include mq('md') {
      & {
        width: 50%;
      }
    }

    @include mq('lg') {
      & {
        width: 33.33333333%;
      }
    }

    @include mq('sm') {
      &:last-child {
        display: none;
      }
    }

    @include mq('lg') {
      &:last-child {
        display: block;
      }
    }
  }

  & .row {
    display: block;

    @include mq('sm') {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}