// ==========================================================================
// Side menu
// ==========================================================================

#main-content-container {
  position: relative;
  left: 0;
  transition: all .5s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all .5s;
    z-index: -1;
  }

  &.side-bar-open {
    left: -275px;
    cursor: pointer;

    &::after {
      opacity: 1;
      z-index: 10;
    }

    @include mq('md') {
      left: -350px;
    }
  }
}

.main-content {
  position: relative;
  background-color: white;
  height: 100vh;
  width: 100vw;
  left: 0;
  overflow-x: clip;
  overflow-y: scroll;
  z-index: 2;
}

#side-bar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $brand-primary;
  float: right;
  height: 100vh;
  width: 275px;
  overflow-x: clip;
  overflow-y: scroll;
  z-index: 1;

  @include mq('md') {
    width: 350px;
  }

  & .side-sub-menu {
    display: flex;
    flex-direction: column;

    & .service-sub {
      display: none;

      @include mq('md') {
        display: block;
      }
    }

    & .support {
      display: block;

      @include mq('md') {
        display: none;
      }
    }

    & .list-item {
      color: $white;
      font-size: 16px;
      text-transform: uppercase;
      border-top: 1px solid hsla(0, 0%, 100%, .1);
      border-bottom: 1px solid rgba(0, 0, 0, .25);

      & .heading {
        display: block;
        color: $white;
        padding: 20px;
      }

      &:hover {
        .heading {
          background-color: #3d404e;
        }
      }
    }

    & .sub-menu-service ul li {
      font-size: 14px;
      padding: 15px 20px;
    }

    & .icon-double_arrow {
      font-size: 10px;
      padding-right: 15px;
    }
  }

  & .side-mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    & div ul li {
      padding: 10px;
    }

    @include mq('md') {
      display: none;
    }
  }

  & .nav-box {
    width: 100%;
  }

  & .item {
    padding-top: 20px;

    & a {
      border: 1px solid hsla(0, 0%, 100%, .1);
      border-radius: 3px;

      & .icon-bespoke {
        color: $bespoke-color;
      }

      & .icon-IT {
        color: $IT-color;
      }

      & .icon-digital {
        color: $digital-color;
      }

      & .icon-telecoms {
        color: $telecoms-color;
      }

      & .icon-web {
        color: $web-color;
      }

      & .icon-cyber {
        color: $cyber-color;
      }

      & .icon-developer {
        color: $developer-color;
      }

      &:hover {
        background-color: #3d404e;
      }
    }
  }

  & .sub-item {
    margin-top: 20px;
  }

  & div ul li {
    background-color: $light-black;
    border-top: 1px solid rgba(0, 0, 0, .45);
    text-transform: uppercase;
    padding: 15px 20px;

    & a {
      color: $white;
    }
  }
}