// ==========================================================================
// Utilities @
// ==========================================================================

// Import if Google Fonts URL is defined

// Calculate em values

@function em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}

// Breakpoints

$breakpoints: (
  'xs': 767px,
  'sm': 768px,
  'md': 992px,
  'lg': 1260px,
);

// Mixins

// Media queries

@mixin mq($break) {
  $value: map-get($breakpoints, $break );
  $sm: map-get($breakpoints, 'sm');

  @if $value ==null {
    @warn "`#{break}` is not a valid breakpoint name"
  }

  @else if $value <$sm {
    @media (max-width: $value) {
      @content;
    }
  }

  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}